@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.wrapper {
  max-width: 1330px;
  padding: 0 25px 0 25px;
  margin: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 0px;
  justify-items: center;
  align-items: center;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  color: rgb(33, 30, 30);
  font-weight: 600;

  width: 270px;
  height: 180px;
  @media (min-width: 420px) {
    width: 300px;
    height: 200px;
  }
  @media (min-width: 768px) {
    width: 320px;
    height: 200px;
  }
  @media (min-width: 1000px) {
    width: 350px;
    height: 250px;
  }
  .title {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.1;
    @media (min-width: 420px) {
      /* font-weight: 500; */
      font-size: 14px;
    }
    @media (min-width: 768px) {
      font-size: 16px;
      font-weight: 500;
    }
    @media (min-width: 1000px) {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
.card_img {
  width: 140px;
  height: 100px;
  @media (min-width: 420px) {
    width: 140px;
    height: 100px;
  }
  @media (min-width: 768px) {
    width: 160px;
    height: 110px;
  }
  @media (min-width: 1000px) {
    width: 210px;
    height: 130px;
  }
}
